In [1]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
tips_grouped = tips.groupby('day')
tips_grouped

In [9]:
tips_grouped.mean()

      total_bill       tip      size
day
Thur   17.682742  2.771452  2.451613
Fri    17.151579  2.734737  2.105263
Sat    20.441379  2.993103  2.517241
Sun    21.410000  3.255132  2.842105

In [8]:
tips_grouped[['total_bill']].mean()

      total_bill
day
Thur   17.682742
Fri    17.151579
Sat    20.441379
Sun    21.410000

In [12]:
tips.groupby('time')[['tip']].max()

         tip
time
Lunch    6.7
Dinner  10.0

In [11]:
tips.groupby(['day', 'time'])[['tip']].max()

               tip
day  time
Thur Lunch    6.70
     Dinner   3.00
Fri  Lunch    3.48
     Dinner   4.73
Sat  Lunch     NaN
     Dinner  10.00
Sun  Lunch     NaN
     Dinner   6.50