In [16]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
tips.sort_values(by='sex', ascending=False)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
131       20.27  2.83  Female     No  Thur   Lunch     2
119       24.08  2.92  Female     No  Thur   Lunch     4
121       13.42  1.68  Female     No  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
43         9.68  1.32    Male     No   Sun  Dinner     2
42        13.94  3.06    Male     No   Sun  Dinner     2
41        17.46  2.54    Male     No   Sun  Dinner     2
40        16.04  2.24    Male     No   Sat  Dinner     3
122       14.26  2.50    Male     No  Thur   Lunch     2

[244 rows x 7 columns]

In [17]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [19]:
tips['sex'].cat.categories

Index(['Male', 'Female'], dtype='object')

In [15]:
penguins = sns.load_dataset('penguins')
penguins.sort_values(by='sex', ascending=False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,Male
179,Chinstrap,Dream,49.5,19.0,200.0,3800.0,Male
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,Male
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,Male
...,...,...,...,...,...,...,...
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [18]:
penguins.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [2]:
tips.sort_values(by=['total_bill'])

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [3]:
tips.sort_values(by=['total_bill'], ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [4]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
tips_sorted = tips.sort_values(by=['total_bill'], ascending=False)
tips_sorted.head()

     total_bill    tip   sex smoker  day    time  size
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4
59        48.27   6.73  Male     No  Sat  Dinner     4
156       48.17   5.00  Male     No  Sun  Dinner     6
182       45.35   3.50  Male    Yes  Sun  Dinner     3

In [6]:
tips.sort_values(by=['time', 'total_bill'], ascending=[False, False])

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
126        8.52   1.48    Male     No  Thur   Lunch     2
135        8.51   1.25  Female     No  Thur   Lunch     2
145        8.35   1.50  Female     No  Thur   Lunch     2
195        7.56   1.44    Male     No  Thur   Lunch     2
149        7.51   2.00    Male     No  Thur   Lunch     2

[244 rows x 7 columns]

In [10]:
tips.sort_values(by='sex', ascending=True)

     total_bill   tip     sex smoker   day    time  size
89        21.16  3.00    Male     No  Thur   Lunch     2
110       14.00  3.00    Male     No   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
112       38.07  4.00    Male     No   Sun  Dinner     3
113       23.95  2.55    Male     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
117       10.65  1.50  Female     No  Thur   Lunch     2
115       17.31  3.50  Female     No   Sun  Dinner     2
114       25.71  4.00  Female     No   Sun  Dinner     3
178        9.60  4.00  Female    Yes   Sun  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
119,Adelie,Torgersen,41.1,18.6,189.0,3325.0,Male
179,Chinstrap,Dream,49.5,19.0,200.0,3800.0,Male
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,Male
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,Male
...,...,...,...,...,...,...,...
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN