In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.DataFrame({
  'name': ['Barry', 'Hank', 'Babe'],
  'hr': [762, 755, 714]
})

df

    name   hr
0  Barry  762
1   Hank  755
2   Babe  714

In [ ]:
# Every column must be of the same type...
# ... not all the rows are printed., there is an index column too 
penguins = pd.read_excel('penguins.xlsx')
penguins

In [ ]:
penguins = pd.read_csv('penguins.csv')
penguins

In [ ]:
sns.get_dataset_names()

In [ ]:
penguins = sns.load_dataset('penguins')
penguins.head()

In [ ]:
penguins.columns

In [ ]:
penguins.dtypes